@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-[#030014] text-white overflow-x-hidden;
  }
}

@layer utilities {
  .animate-gradient-x {
    animation: gradient-x 15s ease infinite;
  }
}

@keyframes gradient-x {
  0%, 100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}
