@import "tailwindcss";
:root {
  --blue-accent: #3b82f6;
}
@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-jakarta: var(--font-jakarta), sans-serif;
}

@layer base {
  * {
    @apply border-white/10;
  }

  body {
    @apply bg-[--color-background] text-[--color-foreground] antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-jakarta {
    font-family: var(--font-jakarta);
  }
}
